@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap");

/* Reset Style */

:root {
  --ThemePrimary: #ff4f01;
  --lightOrange: #fff6ec;
  --gray: #dedede;
  --white: #fff;
  --black: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  background: var(--lightOrange);
}

/* Site Style */

/* =========== Start Navbar Style ============ */
.nav-link {
  font-family: "Bricolage Grotesque", sans-serif;
  color: var(--gray);
  font-size: 1rem;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--ThemePrimary);
}

.nav-item {
  padding: 0px 6px;
}
/* =========== End Navbar Style ============ */
/* =========== Start Hero Style ============ */
.hero {
  height: 85vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.hero::after {
  position: absolute;
  content: "";
  background-image: url(../img/image1.png);
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  top: 210px;
  left: 180px;
  background-size: contain;
}
.hero::before {
  position: absolute;
  content: "";
  background-image: url(../img/image2.png);
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  top: 50%;
  right: -9%;
  background-size: contain;
}

.text-top {
  border: 1px solid var(--ThemePrimary);
  width: 40%;
  padding: 10px 15px;
  border-radius: 50px;
}
.text-top h3 {
  font-size: 18px;
  line-height: 14px;
}

.text-area {
  padding: 15px 0px;
}
.text-area h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 80px;
  line-height: 120%;
  font-weight: 700;
  color: var(--Black);
}
.text-area p {
}

.heroBTN {
  margin-top: 15px;
}

.heroBTNis {
  color: var(--white);
  padding: 17px 40px;
  display: inline-block;
  margin: 0 12px;
}

.hrtoBTNis1 {
  background: var(--ThemePrimary);
  transition: all 0.35s ease-in;
}

.hrtoBTNis1:hover {
  background: var(--black);
}

.hrtoBTNis2 {
  background: var(--black);
  transition: all 0.35s ease-in;
}

.hrtoBTNis2:hover {
  background: var(--ThemePrimary);
}
/* =========== End Hero Style ============ */
/* =========== Start Work Style ============ */
.work {
  padding: 50px 0px;
  position: relative;
}

.work::after {
  position: absolute;
  content: "";
  background-image: url(../img/work/work-5.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  top: -40%;
  left: 0;
  background-size: contain;
}

.work-img img {
  border: 4px solid #eee;
  border-radius: 10px;
}
/* =========== End Work Style ============ */
